<div class="container" style="text-align: center">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="/stock/create" method="POST">
                    <h2>Create New Stock for <%= customer.name %></h2>
                    <input type="hidden" value="<%= customer.id %>" name="owner" />
                    <input class="form-control" type="text" placeholder="Stock Symbol" name="symbol" ><br />
                    <input class="form-control" type="text" placeholder="No of shares" name="number_of_shares" ><br />
                    <input class="btn btn-success btn-block" type="submit" value="Add Stock" />
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>